// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import * as Cohere from "../../../index";

export declare namespace DatasetsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class DatasetsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DatasetsClient.Options>;

    constructor(options: DatasetsClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List datasets that have been created.
     *
     * @param {Cohere.DatasetsListRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.UnprocessableEntityError}
     * @throws {@link Cohere.TooManyRequestsError}
     * @throws {@link Cohere.InvalidTokenError}
     * @throws {@link Cohere.ClientClosedRequestError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.NotImplementedError}
     * @throws {@link Cohere.ServiceUnavailableError}
     * @throws {@link Cohere.GatewayTimeoutError}
     *
     * @example
     *     await client.datasets.list({
     *         datasetType: "datasetType",
     *         before: new Date("2024-01-15T09:30:00.000Z"),
     *         after: new Date("2024-01-15T09:30:00.000Z"),
     *         limit: 1.1,
     *         offset: 1.1,
     *         validationStatus: "unknown"
     *     })
     */
    public list(
        request: Cohere.DatasetsListRequest = {},
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.DatasetsListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Cohere.DatasetsListRequest = {},
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.DatasetsListResponse>> {
        const { datasetType, before, after, limit, offset, validationStatus } = request;
        const _queryParams: Record<string, unknown> = {
            datasetType,
            before: before != null ? before?.toISOString() : undefined,
            after: after != null ? after?.toISOString() : undefined,
            limit,
            offset,
            validationStatus:
                validationStatus != null
                    ? serializers.DatasetValidationStatus.jsonOrThrow(validationStatus, {
                          unrecognizedObjectKeys: "passthrough",
                          allowUnrecognizedUnionMembers: true,
                          allowUnrecognizedEnumValues: true,
                      })
                    : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                "v1/datasets",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DatasetsListResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Cohere.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new Cohere.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 498:
                    throw new Cohere.InvalidTokenError(_response.error.body, _response.rawResponse);
                case 499:
                    throw new Cohere.ClientClosedRequestError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new Cohere.NotImplementedError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                case 504:
                    throw new Cohere.GatewayTimeoutError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/datasets");
    }

    /**
     * Create a dataset by uploading a file. See ['Dataset Creation'](https://docs.cohere.com/docs/datasets#dataset-creation) for more information.
     *
     * @param {core.file.Uploadable} data
     * @param {core.file.Uploadable | undefined} evalData
     * @param {Cohere.DatasetsCreateRequest} request
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.UnprocessableEntityError}
     * @throws {@link Cohere.TooManyRequestsError}
     * @throws {@link Cohere.InvalidTokenError}
     * @throws {@link Cohere.ClientClosedRequestError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.NotImplementedError}
     * @throws {@link Cohere.ServiceUnavailableError}
     * @throws {@link Cohere.GatewayTimeoutError}
     *
     * @example
     *     import { createReadStream } from "fs";
     *     await client.datasets.create(createReadStream("path/to/file"), createReadStream("path/to/file"), {
     *         name: "name",
     *         type: "embed-input",
     *         keepOriginalFile: true,
     *         skipMalformedInput: true,
     *         textSeparator: "text_separator",
     *         csvDelimiter: "csv_delimiter"
     *     })
     */
    public create(
        data: core.file.Uploadable,
        evalData: core.file.Uploadable | undefined,
        request: Cohere.DatasetsCreateRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.DatasetsCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(data, evalData, request, requestOptions));
    }

    private async __create(
        data: core.file.Uploadable,
        evalData: core.file.Uploadable | undefined,
        request: Cohere.DatasetsCreateRequest,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.DatasetsCreateResponse>> {
        const _queryParams: Record<string, unknown> = {
            name: request.name,
            type: serializers.DatasetType.jsonOrThrow(request.type, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
            }),
            keep_original_file: request.keepOriginalFile,
            skip_malformed_input: request.skipMalformedInput,
            keep_fields: request.keepFields,
            optional_fields: request.optionalFields,
            text_separator: request.textSeparator,
            csv_delimiter: request.csvDelimiter,
        };
        const _body = await core.newFormData();
        await _body.appendFile("data", data);
        if (evalData != null) {
            await _body.appendFile("eval_data", evalData);
        }

        const _maybeEncodedRequest = await _body.getRequest();
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName,
                ..._maybeEncodedRequest.headers,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                "v1/datasets",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "file",
            duplex: _maybeEncodedRequest.duplex,
            body: _maybeEncodedRequest.body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DatasetsCreateResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Cohere.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new Cohere.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 498:
                    throw new Cohere.InvalidTokenError(_response.error.body, _response.rawResponse);
                case 499:
                    throw new Cohere.ClientClosedRequestError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new Cohere.NotImplementedError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                case 504:
                    throw new Cohere.GatewayTimeoutError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v1/datasets");
    }

    /**
     * View the dataset storage usage for your Organization. Each Organization can have up to 10GB of storage across all their users.
     *
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.UnprocessableEntityError}
     * @throws {@link Cohere.TooManyRequestsError}
     * @throws {@link Cohere.InvalidTokenError}
     * @throws {@link Cohere.ClientClosedRequestError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.NotImplementedError}
     * @throws {@link Cohere.ServiceUnavailableError}
     * @throws {@link Cohere.GatewayTimeoutError}
     *
     * @example
     *     await client.datasets.getUsage()
     */
    public getUsage(
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.DatasetsGetUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getUsage(requestOptions));
    }

    private async __getUsage(
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.DatasetsGetUsageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                "v1/datasets/usage",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DatasetsGetUsageResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Cohere.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new Cohere.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 498:
                    throw new Cohere.InvalidTokenError(_response.error.body, _response.rawResponse);
                case 499:
                    throw new Cohere.ClientClosedRequestError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new Cohere.NotImplementedError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                case 504:
                    throw new Cohere.GatewayTimeoutError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/datasets/usage");
    }

    /**
     * Retrieve a dataset by ID. See ['Datasets'](https://docs.cohere.com/docs/datasets) for more information.
     *
     * @param {string} id
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.UnprocessableEntityError}
     * @throws {@link Cohere.TooManyRequestsError}
     * @throws {@link Cohere.InvalidTokenError}
     * @throws {@link Cohere.ClientClosedRequestError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.NotImplementedError}
     * @throws {@link Cohere.ServiceUnavailableError}
     * @throws {@link Cohere.GatewayTimeoutError}
     *
     * @example
     *     await client.datasets.get("id")
     */
    public get(
        id: string,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.DatasetsGetResponse> {
        return core.HttpResponsePromise.fromPromise(this.__get(id, requestOptions));
    }

    private async __get(
        id: string,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.DatasetsGetResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                `v1/datasets/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.DatasetsGetResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Cohere.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new Cohere.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 498:
                    throw new Cohere.InvalidTokenError(_response.error.body, _response.rawResponse);
                case 499:
                    throw new Cohere.ClientClosedRequestError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new Cohere.NotImplementedError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                case 504:
                    throw new Cohere.GatewayTimeoutError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v1/datasets/{id}");
    }

    /**
     * Delete a dataset by ID. Datasets are automatically deleted after 30 days, but they can also be deleted manually.
     *
     * @param {string} id
     * @param {DatasetsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.UnprocessableEntityError}
     * @throws {@link Cohere.TooManyRequestsError}
     * @throws {@link Cohere.InvalidTokenError}
     * @throws {@link Cohere.ClientClosedRequestError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.NotImplementedError}
     * @throws {@link Cohere.ServiceUnavailableError}
     * @throws {@link Cohere.GatewayTimeoutError}
     *
     * @example
     *     await client.datasets.delete("id")
     */
    public delete(
        id: string,
        requestOptions?: DatasetsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__delete(id, requestOptions));
    }

    private async __delete(
        id: string,
        requestOptions?: DatasetsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                `v1/datasets/${core.url.encodePathParam(id)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.datasets.delete.Response.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 422:
                    throw new Cohere.UnprocessableEntityError(_response.error.body, _response.rawResponse);
                case 429:
                    throw new Cohere.TooManyRequestsError(_response.error.body, _response.rawResponse);
                case 498:
                    throw new Cohere.InvalidTokenError(_response.error.body, _response.rawResponse);
                case 499:
                    throw new Cohere.ClientClosedRequestError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 501:
                    throw new Cohere.NotImplementedError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                case 504:
                    throw new Cohere.GatewayTimeoutError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/v1/datasets/{id}");
    }
}
