// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient";
import * as core from "../../../../core";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers";
import * as environments from "../../../../environments";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError";
import * as errors from "../../../../errors/index";
import * as serializers from "../../../../serialization/index";
import * as Cohere from "../../../index";

export declare namespace BatchesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BatchesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BatchesClient.Options>;

    constructor(options: BatchesClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List the batches for the current user
     *
     * @param {Cohere.BatchesListBatchesRequest} request
     * @param {BatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.ServiceUnavailableError}
     *
     * @example
     *     await client.batches.list({
     *         pageSize: 1,
     *         pageToken: "page_token",
     *         orderBy: "order_by"
     *     })
     */
    public list(
        request: Cohere.BatchesListBatchesRequest = {},
        requestOptions?: BatchesClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.ListBatchesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__list(request, requestOptions));
    }

    private async __list(
        request: Cohere.BatchesListBatchesRequest = {},
        requestOptions?: BatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.ListBatchesResponse>> {
        const { pageSize, pageToken, orderBy } = request;
        const _queryParams: Record<string, unknown> = {
            page_size: pageSize,
            page_token: pageToken,
            order_by: orderBy,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                "v2/batches",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.ListBatchesResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/batches");
    }

    /**
     * Creates and executes a batch from an uploaded dataset of requests
     *
     * @param {Cohere.Batch} request
     * @param {BatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.ServiceUnavailableError}
     *
     * @example
     *     await client.batches.create({
     *         name: "name",
     *         inputDatasetId: "input_dataset_id",
     *         model: "model"
     *     })
     */
    public create(
        request: Cohere.Batch,
        requestOptions?: BatchesClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.CreateBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__create(request, requestOptions));
    }

    private async __create(
        request: Cohere.Batch,
        requestOptions?: BatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.CreateBatchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                "v2/batches",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: serializers.Batch.jsonOrThrow(request, {
                unrecognizedObjectKeys: "passthrough",
                allowUnrecognizedUnionMembers: true,
                allowUnrecognizedEnumValues: true,
            }),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CreateBatchResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/batches");
    }

    /**
     * Retrieves a batch
     *
     * @param {string} id - The batch ID.
     * @param {BatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.ServiceUnavailableError}
     *
     * @example
     *     await client.batches.retrieve("id")
     */
    public retrieve(
        id: string,
        requestOptions?: BatchesClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.GetBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__retrieve(id, requestOptions));
    }

    private async __retrieve(
        id: string,
        requestOptions?: BatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.GetBatchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                `v2/batches/${core.url.encodePathParam(id)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.GetBatchResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/v2/batches/{id}");
    }

    /**
     * Cancels an in-progress batch
     *
     * @param {string} id - The batch ID.
     * @param {BatchesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Cohere.BadRequestError}
     * @throws {@link Cohere.UnauthorizedError}
     * @throws {@link Cohere.ForbiddenError}
     * @throws {@link Cohere.NotFoundError}
     * @throws {@link Cohere.InternalServerError}
     * @throws {@link Cohere.ServiceUnavailableError}
     *
     * @example
     *     await client.batches.cancel("id")
     */
    public cancel(
        id: string,
        requestOptions?: BatchesClient.RequestOptions,
    ): core.HttpResponsePromise<Cohere.CancelBatchResponse> {
        return core.HttpResponsePromise.fromPromise(this.__cancel(id, requestOptions));
    }

    private async __cancel(
        id: string,
        requestOptions?: BatchesClient.RequestOptions,
    ): Promise<core.WithRawResponse<Cohere.CancelBatchResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "X-Client-Name": requestOptions?.clientName ?? this._options?.clientName }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.CohereEnvironment.Production,
                `v2/batches/${core.url.encodePathParam(id)}:cancel`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 300) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: serializers.CancelBatchResponse.parseOrThrow(_response.body, {
                    unrecognizedObjectKeys: "passthrough",
                    allowUnrecognizedUnionMembers: true,
                    allowUnrecognizedEnumValues: true,
                    skipValidation: true,
                    breadcrumbsPrefix: ["response"],
                }),
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Cohere.BadRequestError(_response.error.body, _response.rawResponse);
                case 401:
                    throw new Cohere.UnauthorizedError(_response.error.body, _response.rawResponse);
                case 403:
                    throw new Cohere.ForbiddenError(_response.error.body, _response.rawResponse);
                case 404:
                    throw new Cohere.NotFoundError(_response.error.body, _response.rawResponse);
                case 500:
                    throw new Cohere.InternalServerError(_response.error.body, _response.rawResponse);
                case 503:
                    throw new Cohere.ServiceUnavailableError(_response.error.body, _response.rawResponse);
                default:
                    throw new errors.CohereError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/batches/{id}/:cancel");
    }
}
