name: test
on:
  pull_request: {}
  workflow_dispatch: {}
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up node
      uses: actions/setup-node@v4

    - name: Install pnpm
      run: npm install -g pnpm@10.20.0

    - name: Install modules
      run: pnpm install

    - name: Build
      run: pnpm build

    - name: Run tests
      env:
        COHERE_API_KEY: ${{ secrets.COHERE_API_KEY }}
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
      run: pnpm exec vitest --project custom
